<header>
    <mat-toolbar color="primary">
        <a mat-flat-button color="primary" [routerLink]="['/myFiles']">
            My files
        </a>
        <button mat-icon-button [routerLink]="['/add']">
            Add
        </button>
        <a mat-flat-button color="primary" [routerLink]="['/shared']">
            Shared files
        </a>
        <a mat-flat-button color="primary" [routerLink]="['/users']">
            Users
        </a>
        <span class="separator"></span>
        <a *ngIf="!isLoggedIn" mat-flat-button color="primary" [routerLink]="['/login']">
            Login
        </a>
        <a *ngIf="!isLoggedIn" mat-flat-button color="primary" [routerLink]="['/register']">
            Registration
        </a>
        <a *ngIf="isLoggedIn" mat-flat-button color="primary" (click)="onLogout()">
            Logout
        </a>
    </mat-toolbar>
</header>

