<!-- TODO: Place spinner in center -->
<mat-spinner *ngIf="!fileData"></mat-spinner>
<mat-card *ngIf="fileData">
    <mat-card-header>
        <mat-card-title>{{fileData.name}}</mat-card-title>
        <mat-card-subtitle>file name</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p><span>Note: </span>{{fileData.note}}</p>
        <p><span>Size: </span>{{fileData.size}} bytes</p>
        <p><span>Upload date and time: </span>{{fileData.uploadDateTime | date : 'medium'}}</p>
        <p><span>Owner: </span>{{fileData.ownerName}}</p>
        <p><span>ShortLink: </span>{{fileData.shortLink}}</p>

        <!-- TODO: add ng*If to check viewers -->
        <mat-list>
            <div mat-subheader>Viewers</div>
            <mat-list-item *ngFor="let viewer of fileData.viewers">
                {{viewer.name}} | {{viewer.email}}
            </mat-list-item>
        </mat-list>
    </mat-card-content>
    <mat-card-actions>
        <!-- <button mat-button (click)="onDownload()">DownLoad</button> -->
        <button mat-button><a (click)="onDownload()" [href]="downloadUrl" download="{{fileData.name}}">DownLoad</a></button>
        <button mat-button (click)="onRefuse()">Refuse</button>
        <button mat-button (click)="onBack()">Back</button>

    </mat-card-actions>
</mat-card>
<div>
    {{fileData | json}}
</div>
