<div class="file-data-edit">
    <h1>Edit files data</h1>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <!-- <p>
            <mat-error *ngIf="registrationResult && !registrationResult.success">
                <span *ngFor="let error in registrationresult.errors">
                    <strong>Error: </strong> {{error}}
                </span>
            </mat-error>
        </p> -->

        <mat-form-field>
            <mat-label>Email:</mat-label>
            <input matInput formControlName="email" placeholder="Insert email" required>
            <mat-error *ngFor="let error of getErrors(form.get('email')!, 'Email')">
                {{error}}
            </mat-error>
        </mat-form-field>

        <div>
            <button mat-flat-button color="primary" type="submit">
                Submit
            </button>
            
        </div>
    </form>
    <button mat-button (click)="onBack()">Back</button>
</div>

