<div class="file-data-edit">
    <h1>Share by email</h1>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <mat-form-field>
            <mat-label>Email:</mat-label>
            <input matInput formControlName="email" placeholder="Insert email" required>
            <mat-error *ngFor="let error of getErrors(form.get('email')!, 'Email')">
                {{error}}
            </mat-error>
        </mat-form-field>

        <div>
            <button mat-flat-button color="primary" type="submit">
                Submit
            </button>
        </div>
    </form>
    <button mat-button (click)="onBack()">Back</button>
</div>

