<!-- TODO: Place spinner in center -->
<mat-spinner *ngIf="!fileData"></mat-spinner>
<mat-card *ngIf="fileData">
    <mat-card-header>
        <mat-card-title>{{fileData.name}}</mat-card-title>
        <mat-card-subtitle>file name</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p><span>Note: </span>{{fileData.note}} <button mat-flat-button><a mat-flat-button [routerLink]="['/editFileData', fileData.id]">Edit</a></button></p>
        <p><span>Size: </span>{{fileData.size}} bytes</p>
        <p><span>Upload date and time: </span>{{fileData.uploadDateTime | date : 'medium'}}</p>
        <p><span>Access: </span>{{fileData.isPublic}}
        </p>
        <p *ngIf="fileData.isPublic">
            <span>ShortLink: </span>{{fileData.shortLink}}
            <button mat-button *ngIf="fileData!.shortLink!.length == 0" (click)="onCreateShortLink()">Create Short Link</button>
            <button mat-button *ngIf="fileData!.shortLink!.length > 0" (click)="onDeleteShortLink()">Delete Short Link</button>
        </p>
        <mat-list *ngIf="fileData.isPublic">
            <div mat-subheader>Viewers | <button  mat-button (click)="addViewer=!addViewer">Add Viewer</button></div>
            <div [hidden]="!addViewer">
                <mat-form-field>
                    <input matInput #viewer placeholder="Type user email">
                </mat-form-field>
                <button  mat-button (click)="onAddViewer(viewer.value)">Add Viewer</button>
            </div>
            <mat-list-item *ngFor="let viewer of fileData.viewers">
                {{viewer.name}} | {{viewer.email}}
            </mat-list-item>
            <button mat-button color="primary" (click)="onApplyChanges()">Save Changes</button>
        </mat-list>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button mat-flat-button color="primary" (click)="onDownload()">DownLoad</button>
        <button mat-button><a mat-flat-button color="primary" [routerLink]="['/shareFile', fileData.id]">Share</a></button>
        <button mat-button mat-flat-button (click)="onDelete()">Delete</button>
        <button mat-button (click)="onBack()">Back</button>
    </mat-card-actions>
</mat-card>

