<div class="file-data-edit">
    <h1>Edit file data</h1>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <mat-form-field>
            <mat-label>Name:</mat-label>
            <input matInput formControlName="name" placeholder="Insert file name" required>
            <mat-error *ngFor="let error of getErrors(form.get('name')!, 'Name')">
                {{error}}
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Note:</mat-label>
            <textarea matInput formControlName="note" placeholder="Insert note" required></textarea>
            <mat-error *ngFor="let error of getErrors(form.get('note')!, 'Note')">
                {{error}}
            </mat-error>
        </mat-form-field>

        <mat-slide-toggle formControlName="isPublic">Create Public Access</mat-slide-toggle>
    </form>
    <div>
        <button mat-flat-button color="primary" (click)="onSubmit()">
            Submit
        </button>
        <button mat-button (click)="onBack()">Back</button>
    </div>
    
</div>

